{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <form method="POST" class="forms" id="user_form">
      <h2 class="join-message text-center">{{ truck.name }} Location</h2>

      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field.label }}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <div class="form-btn-area">
        <button class="btn btn-primary btn-lg btn-block">Submit</button>
        <a href="/trucks/{{ truck.id }}" class="btn btn-lg btn-secondary btn-block">Cancel</a>  
      </div>
    </form>
  </div>
</div>

{% endblock %}