{% extends 'base.html' %}
{% block content %}
  <div class="">
    <h1 class="text-center">New to Food Truck Locator?</h1>
    <br>
    <p class="text-center">Sign up now to find local food trucks near you!</p>
     <div class="welcome-image d-flex justify-content-center">
      <img src="https://cdn.dribbble.com/users/383620/screenshots/1268959/ice-cream-truck.gif" alt="">
     </div>
    <div class="form-btn-area d-flex justify-content-center">
      <a href="/signup" class="btn btn-primary">Sign up</a>
    </div>
  </div>
{% endblock %}