{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <form method="POST" class="forms" id="user_form">
        <h2 class="join-message text-center">Change Password</h2>
        {{ form.hidden_tag() }}

        <p class="text-center">Please type in your current password first. Then confirm your new password.</p>
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form-group">
            {{field.label}}
            {{field(class_="form-control")}}
          </div>
        {% endfor %}

        <div class="form-btn-area">
          <button class="btn btn-success">Submit</button>
          <a href="/users/{{ user_id }}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}